n8n-Workflows/Intelligent_Data_Analysis_Automation_System_SlowTrack.json
{
  "name": "Smart Business Intelligence Reporting System (Slow Track)",
  "nodes": [
    {
      "parameters": {
        "content": "# Intelligent Data Analysis Automation System\n\n## Graduation Project | MCI Academy 2026\n\n",
        "width": 832,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1344,
        288
      ],
      "id": "ca416088-7891-4277-8be4-f29b2176decd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "Clean_Price"
            },
            {
              "aggregation": "sum",
              "field": "Clean_Qty"
            }
          ]
        },
        "fieldsToSplitBy": "Clean_Product, Clean_Status, Clean_Source",
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        592,
        656
      ],
      "id": "df206e0c-a386-4053-a029-f639372e7a2a",
      "name": "Summarize1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=أنت خبير استراتيجي في تحليل بيانات الأعمال (Senior BI Consultant).\n\nمهمتك:\nقم بتحليل بيانات المبيعات المرفقة أياً كان حجمها. استخرج الأنماط، اكتشف مواطن الخلل، وحدد الفرص الضائعة.\n{{ $json.report_data }}",
        "options": {
          "systemMessage": "أنت خبير استراتيجي في تحليل بيانات الأعمال (Senior BI Consultant).\n\nمهمتك:\nقم بتحليل بيانات المبيعات المرفقة أياً كان حجمها. استخرج الأنماط، اكتشف مواطن الخلل، وحدد الفرص الضائعة.\n\nتعليمات المخرجات:\n\nردك يجب أن يكون JSON Object فقط لضمان التكامل البرمجي.\n\nقم بصياغة المحتوى داخل الـ JSON بأسلوب تحليلي حر (Narrative Analysis) بناءً على ما تراه في البيانات فعلياً، وليس مجرد سرد للأرقام.\n\nاستخدم المفاتيح التالية (باللغة العربية):\nsummary, top_products, marketing_insights, risks, recommendations.\n\nتنبيه: لا تلتزم بجمل ثابتة، بل اجعل كل تحليل فريداً بناءً على الداتا المستلمة."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        960,
        656
      ],
      "id": "a3cf8ce5-a607-427f-813c-50098e73d863",
      "name": "AI Agent4",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a9e84f39-8272-4f54-b3f5-f85ebbec9148",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1248,
        656
      ],
      "id": "2c2cb068-a3df-4ac7-97a0-3abe7dfb5e4e",
      "name": "If4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=إليك التقرير المجمع للتحليل (المنتج | الحالة | المصدر | الإيرادات | الكمية):\n{{ $('Code in JavaScript').item.json.report_data }}",
        "options": {
          "systemMessage": "أنت خبير استراتيجي في تحليل بيانات الأعمال (Senior BI Consultant).\n\nمهمتك:\nقم بتحليل بيانات المبيعات المرفقة أياً كان حجمها. استخرج الأنماط، اكتشف مواطن الخلل، وحدد الفرص الضائعة.\n\nتعليمات المخرجات:\n\nردك يجب أن يكون JSON Object فقط لضمان التكامل البرمجي.\n\nقم بصياغة المحتوى داخل الـ JSON بأسلوب تحليلي حر (Narrative Analysis) بناءً على ما تراه في البيانات فعلياً، وليس مجرد سرد للأرقام.\n\nاستخدم المفاتيح التالية (باللغة العربية):\nsummary, top_products, marketing_insights, risks, recommendations.\n\nتنبيه: لا تلتزم بجمل ثابتة، بل اجعل كل تحليل فريداً بناءً على الداتا المستلمة."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1952,
        864
      ],
      "id": "df8b2016-f807-494e-8fbe-b6e0d0283e30",
      "name": "AI Agent5",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1952,
        1008
      ],
      "id": "1604987b-7b12-4d51-bdb2-44d163ff31cd",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "ASq4LK8rZtJ9PqVg",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a9e84f39-8272-4f54-b3f5-f85ebbec9148",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2256,
        864
      ],
      "id": "b98b1a05-c877-46a0-bac2-be321043f833",
      "name": "If5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=إليك التقرير المجمع للتحليل (المنتج | الحالة | المصدر | الإيرادات | الكمية):\n{{ $('Code in JavaScript').item.json.report_data }}",
        "options": {
          "systemMessage": "أنت خبير استراتيجي في تحليل بيانات الأعمال (Senior BI Consultant).\n\nمهمتك:\nقم بتحليل بيانات المبيعات المرفقة أياً كان حجمها. استخرج الأنماط، اكتشف مواطن الخلل، وحدد الفرص الضائعة.\n\nتعليمات المخرجات:\n\nردك يجب أن يكون JSON Object فقط لضمان التكامل البرمجي.\n\nقم بصياغة المحتوى داخل الـ JSON بأسلوب تحليلي حر (Narrative Analysis) بناءً على ما تراه في البيانات فعلياً، وليس مجرد سرد للأرقام.\n\nاستخدم المفاتيح التالية (باللغة العربية):\nsummary, top_products, marketing_insights, risks, recommendations.\n\nتنبيه: لا تلتزم بجمل ثابتة، بل اجعل كل تحليل فريداً بناءً على الداتا المستلمة."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2448,
        1024
      ],
      "id": "f08cf1aa-a851-479c-9d94-aba1d94c8c4b",
      "name": "AI Agent6",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2448,
        1200
      ],
      "id": "2de8654d-a059-4b36-8035-0b7c4d849d41",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ah3WsYgcF3i5FtZf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a9e84f39-8272-4f54-b3f5-f85ebbec9148",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2736,
        1024
      ],
      "id": "d1fcfed3-63d9-46eb-8bfd-9450ad1206fc",
      "name": "If6"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "final_report_text",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1440,
        544
      ],
      "id": "d415e9f7-d87a-4750-a7d4-efa47418da95",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9d8c36fe-01ec-4dc9-b9eb-4731be25c0d8",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        32,
        656
      ],
      "id": "8c9457cb-c40b-4194-957c-0e8f8b0d5fed",
      "name": "Webhook(Slow Track)",
      "webhookId": "9d8c36fe-01ec-4dc9-b9eb-4731be25c0d8"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.data",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        224,
        656
      ],
      "id": "a75851ee-06cc-45fa-9d44-772b1f1e28d8",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6af08e61-0e76-40db-9f94-9985bb5d8d63",
              "name": "Clean_Product",
              "value": "={{ $json[\"body.data\"].Product }}",
              "type": "string"
            },
            {
              "id": "2d301b52-6bb4-4ef1-85d7-abe30cef97b2",
              "name": "Clean_Price",
              "value": "={{ $json[\"body.data\"].TotalPrice }}",
              "type": "number"
            },
            {
              "id": "b68d5451-f6fd-49c0-ac82-4ffda4a0126c",
              "name": "Clean_Qty",
              "value": "={{ $json[\"body.data\"].Quantity }}",
              "type": "number"
            },
            {
              "id": "895db312-312f-4bb1-928f-975f245d40f5",
              "name": "Clean_Status",
              "value": "={{ $json[\"body.data\"].OrderStatus }}",
              "type": "string"
            },
            {
              "id": "abb78c33-4711-47f7-ad9a-f8c067440931",
              "name": "Clean_Source",
              "value": "={{ $json[\"body.data\"].ReferralSource }}",
              "type": "string"
            },
            {
              "id": "a32405b2-0d24-48dd-b26f-6de4f320df18",
              "name": "CouponCode",
              "value": "={{ $json[\"body.data\"].CouponCode }}",
              "type": "string"
            },
            {
              "id": "d4b6b301-f8be-457f-a1e1-dfd401c95682",
              "name": "=ItemsInCart",
              "value": "={{ $json[\"body.data\"].ItemsInCart }}",
              "type": "number"
            },
            {
              "id": "f875de4b-fc3d-4909-8903-9985d81bb4d2",
              "name": "PaymentMethod",
              "value": "={{ $json[\"body.data\"].PaymentMethod }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        656
      ],
      "id": "baf5718a-3a0c-4c32-b0b9-1112aafdaa40",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "let summaryText = \"Sales Summary Report:\\n\";\n\nfor (const item of $input.all()) {\n  summaryText += `- ${item.json.Clean_Product} | Status: ${item.json.Clean_Status} | Source: ${item.json.Clean_Source} | Rev: $${item.json.sum_Clean_Price} | Qty: ${item.json.sum_Clean_Qty}\\n`;\n}\n\nreturn {\n  report_data: summaryText\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        656
      ],
      "id": "6e4419b6-4512-4591-9789-0c33dcc5fbc4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=My_Smart_BI_Session",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1968,
        1200
      ],
      "id": "0bd052e9-3bf8-4604-b768-ddb15c84b269",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a9e84f39-8272-4f54-b3f5-f85ebbec9148",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1728,
        752
      ],
      "id": "aa3da819-71bb-47bf-af05-7e9378c6e7f2",
      "name": "If"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        960,
        832
      ],
      "id": "305cb0bf-9750-4ecc-a0ef-557bbcf8b75b",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "g1epCCGGSpgtLnQ6",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Start Slow Track",
        "height": 80,
        "width": 304,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        528
      ],
      "typeVersion": 1,
      "id": "ce947cad-6ab8-4734-9e14-34683ece8f2d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# End Slow Track",
        "height": 80,
        "width": 288,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2976,
        864
      ],
      "typeVersion": 1,
      "id": "ac40ac19-f6ff-45d4-9fd4-949a1623a1c7",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "fromEmail": "abdelwahabshandy@gmail.com",
        "toEmail": "={{ $node[\"Webhook(Slow Track)\"].json.body.email }}",
        "subject": "📑 التقرير الاستراتيجي الشامل لمبيعاتك | Smart BI System",
        "html": "={{ (function() {\n  // 1. الوصول للنص داخل المصفوفة الناتجة من Aggregate1\n  const rawOutput = $json.final_report_text[0].output;\n  \n  // 2. تنظيف النص وتحويله لـ Object\n  const cleanJson = rawOutput.replace(/```json|```/g, '').trim();\n  const data = JSON.parse(cleanJson);\n\n  // 3. بناء قالب الإيميل\n  return `\n  <div dir=\"rtl\" style=\"font-family: sans-serif; line-height: 1.6; color: #333; padding: 20px; background: #f4f7f6;\">\n    <div style=\"max-width: 600px; margin: auto; background: white; padding: 20px; border-radius: 10px; border-top: 8px solid #1e40af;\">\n      <h2 style=\"color: #1e40af; text-align: center;\">📊 التقرير الاستراتيجي الشامل</h2>\n      \n      <p><strong>📝 الملخص التنفيذي:</strong><br>${data.summary}</p>\n\n      <h4 style=\"color: #1e40af; border-bottom: 1px solid #eee;\">🏆 تحليل المنتجات:</h4>\n      <p>${data.top_products.overview}</p>\n\n      <h4 style=\"color: #dc2626; border-bottom: 1px solid #eee;\">⚠️ المخاطر المرصودة:</h4>\n      <ul>\n        ${data.risks.map(r => `<li><strong>${r.risk}:</strong> ${r.details}</li>`).join('')}\n      </ul>\n\n      <div style=\"background: #1e40af; color: white; padding: 15px; border-radius: 8px;\">\n        <h4 style=\"margin-top: 0;\">💡 التوصيات المقترحة:</h4>\n        ${data.recommendations.map(rec => `• <strong>${rec.recommendation}:</strong> ${rec.action}`).join('<br><br>')}\n      </div>\n\n      <p style=\"text-align: center; font-size: 11px; color: #999; margin-top: 20px;\">تم التوليد آلياً بواسطة Smart BI System</p>\n    </div>\n  </div>\n  `;\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1600,
        544
      ],
      "id": "32725523-6689-4607-a905-15fbd01d03bd",
      "name": "Send Instant Smart Report",
      "webhookId": "916bfca0-3560-40fa-8976-9e3857dcc303",
      "credentials": {
        "smtp": {
          "id": "cqYTdVe0cgd5qwlG",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1440,
        896
      ],
      "id": "9e3cbf28-bace-4b98-aeb1-b720ea68e335",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "VmLDGhI14828rvzn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=إليك التقرير المجمع للتحليل (المنتج | الحالة | المصدر | الإيرادات | الكمية):\n{{ $('Code in JavaScript').item.json.report_data }}",
        "options": {
          "systemMessage": "أنت خبير استراتيجي في تحليل بيانات الأعمال (Senior BI Consultant).\n\nمهمتك:\nقم بتحليل بيانات المبيعات المرفقة أياً كان حجمها. استخرج الأنماط، اكتشف مواطن الخلل، وحدد الفرص الضائعة.\n\nتعليمات المخرجات:\n\nردك يجب أن يكون JSON Object فقط لضمان التكامل البرمجي.\n\nقم بصياغة المحتوى داخل الـ JSON بأسلوب تحليلي حر (Narrative Analysis) بناءً على ما تراه في البيانات فعلياً، وليس مجرد سرد للأرقام.\n\nاستخدم المفاتيح التالية (باللغة العربية):\nsummary, top_products, marketing_insights, risks, recommendations.\n\nتنبيه: لا تلتزم بجمل ثابتة، بل اجعل كل تحليل فريداً بناءً على الداتا المستلمة."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1440,
        752
      ],
      "id": "fc58ee7a-c986-48ea-9573-119b49ac579d",
      "name": "AI Agent",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "final_report_text",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1952,
        656
      ],
      "id": "723bf8c4-3680-47ab-97b0-81c81a559a0d",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "final_report_text",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2448,
        848
      ],
      "id": "c29dddf6-eba8-4664-8ca1-6c138a456cc3",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "final_report_text",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2960,
        1008
      ],
      "id": "e1dd9a21-3fef-4851-b7b6-1560f458521c",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "fromEmail": "abdelwahabshandy@gmail.com",
        "toEmail": "={{ $node[\"Webhook(Slow Track)\"].json.body.email }}",
        "subject": "📑 التقرير الاستراتيجي الشامل لمبيعاتك | Intelligent Data Analysis Automation System",
        "html": "={{ (function() {\n  // 1. الوصول للنص داخل المصفوفة الناتجة من Aggregate1\n  const rawOutput = $json.final_report_text[0].output;\n  \n  // 2. تنظيف النص وتحويله لـ Object\n  const cleanJson = rawOutput.replace(/```json|```/g, '').trim();\n  const data = JSON.parse(cleanJson);\n\n  // 3. بناء قالب الإيميل\n  return `\n  <div dir=\"rtl\" style=\"font-family: sans-serif; line-height: 1.6; color: #333; padding: 20px; background: #f4f7f6;\">\n    <div style=\"max-width: 600px; margin: auto; background: white; padding: 20px; border-radius: 10px; border-top: 8px solid #1e40af;\">\n      <h2 style=\"color: #1e40af; text-align: center;\">📊 التقرير الاستراتيجي الشامل</h2>\n      \n      <p><strong>📝 الملخص التنفيذي:</strong><br>${data.summary}</p>\n\n      <h4 style=\"color: #1e40af; border-bottom: 1px solid #eee;\">🏆 تحليل المنتجات:</h4>\n      <p>${data.top_products.overview}</p>\n\n      <h4 style=\"color: #dc2626; border-bottom: 1px solid #eee;\">⚠️ المخاطر المرصودة:</h4>\n      <ul>\n        ${data.risks.map(r => `<li><strong>${r.risk}:</strong> ${r.details}</li>`).join('')}\n      </ul>\n\n      <div style=\"background: #1e40af; color: white; padding: 15px; border-radius: 8px;\">\n        <h4 style=\"margin-top: 0;\">💡 التوصيات المقترحة:</h4>\n        ${data.recommendations.map(rec => `• <strong>${rec.recommendation}:</strong> ${rec.action}`).join('<br><br>')}\n      </div>\n\n      <p style=\"text-align: center; font-size: 11px; color: #999; margin-top: 20px;\">تم التوليد آلياً بواسطة Intelligent Data Analysis Automation System</p>\n    </div>\n  </div>\n  `;\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2112,
        656
      ],
      "id": "9483720d-7d4c-4c6f-be54-713203dee7a3",
      "name": "Send Instant Smart Report1",
      "webhookId": "916bfca0-3560-40fa-8976-9e3857dcc303",
      "credentials": {
        "smtp": {
          "id": "cqYTdVe0cgd5qwlG",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "abdelwahabshandy@gmail.com",
        "toEmail": "={{ $node[\"Webhook(Slow Track)\"].json.body.email }}",
        "subject": "📑 التقرير الاستراتيجي الشامل لمبيعاتك | Smart BI System",
        "html": "={{ (function() {\n  try {\n    // 1. الوصول للبيانات داخل المصفوفة الناتجة من Aggregate1\n    // استخدمنا [0] لأن نود Aggregate تضع البيانات داخل مصفوفة\n    const rawOutput = $node[\"Aggregate1\"].json[\"final_report_text\"][0].output;\n    \n    // 2. تنظيف النص من علامات الـ Markdown\n    const cleanJson = rawOutput.replace(/```json|```/g, '').trim();\n    const data = JSON.parse(cleanJson);\n\n    // 3. بناء قالب الإيميل\n    return `\n    <div dir=\"rtl\" style=\"font-family: sans-serif; line-height: 1.6; color: #333; background-color: #f4f7f6; padding: 20px;\">\n      <div style=\"max-width: 600px; margin: auto; background: white; padding: 20px; border-radius: 10px; border-top: 8px solid #1e40af; box-shadow: 0 2px 5px rgba(0,0,0,0.1);\">\n        <h2 style=\"color: #1e40af; text-align: center;\">📊 التقرير الاستراتيجي الذكي</h2>\n        \n        <div style=\"margin-bottom: 20px;\">\n          <h4 style=\"color: #1e40af; border-bottom: 1px solid #eee; padding-bottom: 5px;\">📝 الملخص التنفيذي</h4>\n          <p>${data.summary}</p>\n        </div>\n\n        <div style=\"background: #eff6ff; padding: 15px; border-radius: 8px; margin-bottom: 20px;\">\n          <h4 style=\"margin-top: 0; color: #1e40af;\">🏆 تحليل المنتجات</h4>\n          <p style=\"font-size: 14px; margin: 0;\">${data.top_products}</p>\n        </div>\n\n        <div style=\"margin-bottom: 20px;\">\n          <h4 style=\"color: #166534; border-bottom: 1px solid #eee; padding-bottom: 5px;\">📢 رؤى التسويق</h4>\n          <p style=\"font-size: 14px;\">${data.marketing_insights}</p>\n        </div>\n\n        <div style=\"padding: 15px; background-color: #fef2f2; border-right: 4px solid #dc2626; border-radius: 5px; margin-bottom: 20px;\">\n          <h4 style=\"margin: 0 0 5px 0; color: #991b1b;\">⚠️ المخاطر المرصودة</h4>\n          <p style=\"margin: 0; font-size: 14px; color: #b91c1c;\">${data.risks}</p>\n        </div>\n\n        <div style=\"padding: 20px; background-color: #1e40af; color: white; border-radius: 10px;\">\n          <h4 style=\"margin: 0 0 10px 0;\">💡 التوصيات الاستراتيجية</h4>\n          <p style=\"margin: 0; font-size: 14px; line-height: 1.6;\">${data.recommendations}</p>\n        </div>\n\n        <p style=\"text-align: center; font-size: 11px; color: #94a3b8; margin-top: 20px;\">\n          تم توليد هذا التقرير آلياً بواسطة نظام Smart BI Reporting System\n        </p>\n      </div>\n    </div>\n    `;\n  } catch (e) {\n    return \"خطأ في معالجة البيانات: \" + e.message;\n  }\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2624,
        848
      ],
      "id": "65a100a7-b35a-4405-81af-d273e3464bd8",
      "name": "Send Instant Smart Report2",
      "webhookId": "916bfca0-3560-40fa-8976-9e3857dcc303",
      "credentials": {
        "smtp": {
          "id": "cqYTdVe0cgd5qwlG",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "abdelwahabshandy@gmail.com",
        "toEmail": "={{ $node[\"Webhook(Slow Track)\"].json.body.email }}",
        "subject": "📑 التقرير الاستراتيجي الشامل لمبيعاتك | Smart BI System",
        "html": "={{ (function() {\n  try {\n    // 1. الوصول للبيانات داخل المصفوفة الناتجة من Aggregate1\n    // استخدمنا [0] لأن نود Aggregate تضع البيانات داخل مصفوفة\n    const rawOutput = $node[\"Aggregate1\"].json[\"final_report_text\"][0].output;\n    \n    // 2. تنظيف النص من علامات الـ Markdown\n    const cleanJson = rawOutput.replace(/```json|```/g, '').trim();\n    const data = JSON.parse(cleanJson);\n\n    // 3. بناء قالب الإيميل\n    return `\n    <div dir=\"rtl\" style=\"font-family: sans-serif; line-height: 1.6; color: #333; background-color: #f4f7f6; padding: 20px;\">\n      <div style=\"max-width: 600px; margin: auto; background: white; padding: 20px; border-radius: 10px; border-top: 8px solid #1e40af; box-shadow: 0 2px 5px rgba(0,0,0,0.1);\">\n        <h2 style=\"color: #1e40af; text-align: center;\">📊 التقرير الاستراتيجي الذكي</h2>\n        \n        <div style=\"margin-bottom: 20px;\">\n          <h4 style=\"color: #1e40af; border-bottom: 1px solid #eee; padding-bottom: 5px;\">📝 الملخص التنفيذي</h4>\n          <p>${data.summary}</p>\n        </div>\n\n        <div style=\"background: #eff6ff; padding: 15px; border-radius: 8px; margin-bottom: 20px;\">\n          <h4 style=\"margin-top: 0; color: #1e40af;\">🏆 تحليل المنتجات</h4>\n          <p style=\"font-size: 14px; margin: 0;\">${data.top_products}</p>\n        </div>\n\n        <div style=\"margin-bottom: 20px;\">\n          <h4 style=\"color: #166534; border-bottom: 1px solid #eee; padding-bottom: 5px;\">📢 رؤى التسويق</h4>\n          <p style=\"font-size: 14px;\">${data.marketing_insights}</p>\n        </div>\n\n        <div style=\"padding: 15px; background-color: #fef2f2; border-right: 4px solid #dc2626; border-radius: 5px; margin-bottom: 20px;\">\n          <h4 style=\"margin: 0 0 5px 0; color: #991b1b;\">⚠️ المخاطر المرصودة</h4>\n          <p style=\"margin: 0; font-size: 14px; color: #b91c1c;\">${data.risks}</p>\n        </div>\n\n        <div style=\"padding: 20px; background-color: #1e40af; color: white; border-radius: 10px;\">\n          <h4 style=\"margin: 0 0 10px 0;\">💡 التوصيات الاستراتيجية</h4>\n          <p style=\"margin: 0; font-size: 14px; line-height: 1.6;\">${data.recommendations}</p>\n        </div>\n\n        <p style=\"text-align: center; font-size: 11px; color: #94a3b8; margin-top: 20px;\">\n          تم توليد هذا التقرير آلياً بواسطة نظام Smart BI Reporting System\n        </p>\n      </div>\n    </div>\n    `;\n  } catch (e) {\n    return \"خطأ في معالجة البيانات: \" + e.message;\n  }\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3136,
        1008
      ],
      "id": "02849075-f143-48fb-9848-65b67acb2094",
      "name": "Send Instant Smart Report3",
      "webhookId": "916bfca0-3560-40fa-8976-9e3857dcc303",
      "credentials": {
        "smtp": {
          "id": "cqYTdVe0cgd5qwlG",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {
    "AI Agent5": [
      {
        "json": {
          "output": "```json\n{\n  \"summary\": \"يُظهر التقرير المجمع للتحليل أداءً متباينًا عبر مختلف المنتجات والمصادر. تشير الإيرادات والكميات إلى أن المنتجات مثل الحاسوب المحمول والطابعة والهاتف تُعتبر من بين أفضل المنتجات مبيعًا، مع مبالغ إيرادات تتراوح بين 10000 إلى 15000 دولار أمريكي. يُلاحظ أيضًا أن مصادر مثل Instagram وFacebook وGoogle تُعتبر من المصادر الرئيسية للمبيعات، مع إيرادات تتراوح بين 5000 إلى 20000 دولار أمريكي.\",\n  \"top_products\": \"المنتجات الأكثر مبيعًا هي الحاسوب المحمول والطابعة والهاتف، حيث تُشكل هذه المنتجات ما يقرب من 50% من إجمالي الإيرادات. يُلاحظ أيضًا أن المنتجات مثل الشاشة والكرسي تُعتبر من بين المنتجات الأقل مبيعًا، مع إيرادات تتراوح بين 1000 إلى 5000 دولار أمريكي.\",\n  \"marketing_insights\": \"تشير البيانات إلى أن استراتيجيات التسويق التي تستهدف منصات مثل Instagram وFacebook وGoogle تُعتبر فعالة، حيث تُشكل هذه المنصات ما يقرب من 70% من إجمالي الإيرادات. يُظهر هذا 또한 أن الاستثمار في التسويق الرقمي قد يكون أحد أهم الاستراتيجيات لزيادة المبيعات.\",\n  \"risks\": \"تُظهر البيانات وجود بعض المخاطر، مثل ارتفاع نسبة الإرجاع في بعض المنتجات، مثل الشاشة والكرسي، حيث تصل نسبة الإرجاع إلى ما يقرب من 20%. كما تُظهر البيانات أيضًا أن هناك بعض المنتجات التي تتم تسويتها بكميات منخفضة، مما قد يُظهر بعض المخاطر المتعلقة بالتخزين والإدارة.\",\n  \"recommendations\": \"تُوصي هذه البيانات بزيادة الاستثمار في التسويق الرقمي، особенно على منصات مثل Instagram وFacebook وGoogle. كما يُوصى بتحسين جودة المنتجات وخدمة العملاء لخفض نسبة الإرجاع. بالإضافة إلى ذلك، يُوصى بمراجعة استراتيجيات التخزين والإدارة لضمان توافقها مع احتياجات العمل.\"\n}\n```"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "AI Agent": [
      {
        "json": {
          "output": "```json\n{\n  \"summary\": \"يُظهر تحليل بيانات المبيعات تركيزًا كبيرًا على منتجات 'Monitor' و 'Phone' و 'Tablet' و 'Chair' و 'Printer' و 'Laptop' و 'Desk'. تشكل هذه المنتجات غالبية الإيرادات والكميات المباعة. لوحظت نسب مرتفعة من المبيعات الملغاة والمُرجعة، مما يستدعي تحقيقًا أعمق لفهم الأسباب الجذرية.  تُعد قنوات التسويق مثل Instagram و Facebook و Google مصادر رئيسية للمبيعات، ولكن يجب تقييم فعاليتها بشكل مستمر.  هناك تباين ملحوظ في أداء المنتجات بناءً على حالة الطلب (مشحون، مُسلم، قيد الانتظار، مُلغى، مُرجع) وعلى قنوات التسويق المستخدمة.\",\n  \"top_products\": {\n    \"overview\": \"تُظهر البيانات أن منتجات 'Monitor' و 'Chair' و 'Laptop' و 'Tablet' هي الأكثر إنتاجًا للإيرادات بشكل عام. ومع ذلك، فإن الكميات المباعة لا تتوافق دائمًا مع الإيرادات، مما يشير إلى اختلافات في متوسط سعر البيع.\",\n    \"product_performance\": [\n      {\n        \"product\": \"Monitor\",\n        \"revenue_contribution\": \"يُعتبر من بين الأعلى إيرادًا، خاصة في حالات الطلب 'Shipped' و 'Delivered'، ولكن يواجه تحديات كبيرة في حالات 'Returned' و 'Cancelled' مع Facebook و Referral.\",\n        \"volume_insights\": \"كميات مرتفعة في حالات 'Delivered' و 'Shipped'، لكن هناك كميات كبيرة أيضاً في حالات الإلغاء والإرجاع.\"\n      },\n      {\n        \"product\": \"Phone\",\n        \"revenue_contribution\": \"يُظهر إيرادات قوية، خاصة في حالات 'Delivered' و 'Shipped'.  يُلاحظ ارتفاع الإيرادات في حالات 'Returned' من Email، مما قد يكون مؤشرًا لمنتج عالي الجودة مع معدل إرجاع مرتفع لأسباب معينة.\",\n        \"volume_insights\": \"كميات متفاوتة عبر حالات الطلب، مع ذروة في 'Pending' و 'Returned' عبر Instagram و Email على التوالي.\"\n      },\n      {\n        \"product\": \"Tablet\",\n        \"revenue_contribution\": \"يُحقق إيرادات كبيرة، خاصة في حالات 'Shipped' و 'Delivered'.  يشهد ارتفاعًا كبيرًا في الإيرادات عند الإرجاع من Instagram، مما يستدعي التحقيق.\",\n        \"volume_insights\": \"كميات مرتفعة في حالات 'Shipped' و 'Returned'، خاصة من Instagram و Google.\"\n      },\n      {\n        \"product\": \"Chair\",\n        \"revenue_contribution\": \"يُظهر إيرادات إجمالية عالية، ولكنه يعاني من نسب مرتفعة جدًا في حالات 'Pending' و 'Cancelled' عبر Email و Instagram و Facebook، مما يشير إلى مشاكل محتملة في إدارة المخزون أو تقديم الطلبات.\",\n        \"volume_insights\": \"كميات مرتفعة بشكل ملحوظ في حالات 'Pending' و 'Cancelled' عبر قنوات متعددة.\"\n      },\n      {\n        \"product\": \"Laptop\",\n        \"revenue_contribution\": \"يُحقق إيرادات جيدة، ولكنه يواجه معدل إلغاء مرتفع من Email.  يُلاحظ إيرادات منخفضة جدًا في حالة Shipped من Email (57.1$).\",\n        \"volume_insights\": \"كميات كبيرة في حالات 'Returned' و 'Cancelled' و 'Delivered'، مع ذروة في 'Pending' من Instagram.\"\n      }\n    ]\n  },\n  \"marketing_insights\": {\n    \"overview\": \"تشكل منصات التواصل الاجتماعي (Instagram و Facebook) وقنوات البحث (Google) والمصادر المباشرة (Referral و Email) مصادر رئيسية للمبيعات.  يجب تحليل كفاءة كل قناة بناءً على الإيرادات المحققة مقابل الكمية المباعة، وكذلك معدلات الإلغاء والإرجاع.\",\n    \"channel_performance\": [\n      {\n        \"channel\": \"Instagram\",\n        \"observations\": \"مصدر قوي للإيرادات والكميات، خاصة في حالات 'Delivered' (Monitor و Laptop) و 'Shipped' (Tablet) و 'Returned' (Tablet).  ولكن، يظهر معدل إرجاع مرتفع نسبيًا لـ Monitor.  يُعد من بين أعلى القنوات في كميات 'Pending' لـ Chair و Laptop.\"\n      },\n      {\n        \"channel\": \"Facebook\",\n        \"observations\": \"يُقدم إيرادات وكميات جيدة، خاصة في حالات 'Shipped' و 'Delivered'.  يُلاحظ أعلى معدل إرجاع لكميات كبيرة لمنتج Monitor، وكذلك أعلى معدل إلغاء لـ Monitor.  يُشكل نسبة إرجاع مرتفعة لـ Chair.\"\n      },\n      {\n        \"channel\": \"Google\",\n        \"observations\": \"مصدر موثوق للإيرادات، خاصة في حالات 'Delivered' و 'Shipped'.  يُلاحظ معدل إرجاع مرتفع لكميات كبيرة لمنتج Monitor، ومعدل إلغاء مرتفع لـ Tablet.  يُظهر أعلى إيرادات وكميات في حالة 'Pending' لـ Monitor.\"\n      },\n      {\n        \"channel\": \"Email\",\n        \"observations\": \"يُقدم إيرادات إجمالية جيدة، ولكنه يواجه تحديات كبيرة مع معدلات الإلغاء المرتفعة لمنتجات Monitor و Laptop و Chair و Printer.  يُسجل أعلى إيرادات وكميات في حالة 'Returned' لمنتج Phone، مما يستدعي البحث.\",\n        \"volume_insights\": \"كميات مرتفعة بشكل كبير في حالات الإلغاء لبعض المنتجات.\"\n      },\n      {\n        \"channel\": \"Referral\",\n        \"observations\": \"يُساهم بشكل كبير في الإيرادات، خاصة في حالات 'Shipped' و 'Delivered'.  يُسجل معدلات إرجاع وإلغاء مرتفعة لبعض المنتجات (Monitor, Chair, Printer).  يُلاحظ أعلى إيرادات وكميات في حالة 'Shipped' لـ Tablet.\"\n      }\n    ]\n  },\n  \"risks\": [\n    {\n      \"risk\": \"معدلات مرتفعة من الطلبات المُلغاة والمُرجعة\",\n      \"details\": \"تُظهر البيانات نسبًا مقلقة من الطلبات الملغاة والمُرجعة عبر جميع المنتجات وقنوات التسويق، مما يؤدي إلى خسارة الإيرادات وتكاليف تشغيل إضافية.  التركيز على Facebook و Email و Referral يبدو أنه يواجه أعلى معدلات إلغاء وإرجاع لبعض المنتجات.\"\n    },\n    {\n      \"risk\": \"التفاوت في أداء المنتج حسب حالة الطلب\",\n      \"details\": \"بعض المنتجات مثل 'Monitor' و 'Chair' تواجه تحديات كبيرة في حالات 'Returned' و 'Cancelled'، بينما تُظهر أداءً جيدًا في حالات 'Shipped' و 'Delivered'.  هذا التباين يستدعي فهم الأسباب الكامنة وراء هذه التقلبات.\"\n    },\n    {\n      \"risk\": \"عدم كفاءة بعض قنوات التسويق\",\n      \"details\": \"على الرغم من مساهمة قنوات مثل Instagram و Facebook و Google، إلا أن معدلات الإرجاع والإلغاء المرتفعة المرتبطة ببعض الحملات أو المنتجات عبر هذه القنوات تشير إلى الحاجة لتحسين الاستهداف أو جودة العروض.\"\n    },\n    {\n      \"risk\": \"انخفاض الإيرادات في حالات معينة\",\n      \"details\": \"سجلت بعض المنتجات، مثل Laptop من Email في حالة Shipped، إيرادات منخفضة جدًا (57.1$)، مما يستدعي التحقيق لتحديد ما إذا كان هذا خطأ في البيانات أو مشكلة حقيقية في التسعير أو العرض.\"\n    },\n    {\n      \"risk\": \"مشاكل محتملة في إدارة المخزون أو تقديم الطلبات\",\n      \"details\": \"الكميات المرتفعة في حالات 'Pending' و 'Cancelled' لبعض المنتجات (مثل Chair) قد تشير إلى مشاكل في توفر المخزون، أو أخطاء في عملية تقديم الطلب، أو مشاكل في معالجة الدفع.\"\n    }\n  ],\n  \"recommendations\": [\n    {\n      \"recommendation\": \"تحليل معمق لأسباب الإلغاء والإرجاع\",\n      \"action\": \"قم بإجراء تحقيق شامل لتحديد الأسباب الجذرية للطلبات الملغاة والمُرجعة.  قد يشمل ذلك: مراجعة جودة المنتج، تقييم عمليات الشحن والتسليم، تحليل دقة أوصاف المنتج، وتقييم تجربة العملاء.  ركز بشكل خاص على المنتجات والقنوات التي تسجل أعلى المعدلات.\"\n    },\n    {\n      \"recommendation\": \"تحسين استهداف الحملات التسويقية\",\n      \"action\": \"بناءً على تحليل أداء كل قناة، قم بتحسين الحملات التسويقية.  اختبر رسائل مختلفة، شرائح جمهور مستهدفة، وعروض ترويجية.  قم بتقييم العائد على الاستثمار (ROI) لكل قناة بشكل دقيق.\"\n    },\n    {\n      \"recommendation\": \"مراجعة وتسعير المنتجات\",\n      \"action\": \"حلل متوسط سعر البيع لكل منتج عبر القنوات المختلفة.  تأكد من أن التسعير تنافسي ومربح.  تحقق من الحالات التي سجلت إيرادات منخفضة بشكل غير عادي.\"\n    },\n    {\n      \"recommendation\": \"تحسين عمليات إدارة المخزون وسير العمل\",\n      \"action\": \"إذا كانت هناك مؤشرات على مشاكل في المخزون أو تقديم الطلبات (مثل كميات عالية في 'Pending' أو 'Cancelled')، قم بمراجعة وتحسين أنظمة إدارة المخزون وعمليات معالجة الطلبات لتقليل التأخير والأخطاء.\"\n    },\n    {\n      \"recommendation\": \"استكشاف منتجات ذات أداء إيجابي في حالات معينة\",\n      \"action\": \"ابحث عن الأسباب التي تجعل بعض المنتجات، مثل Phone عبر Email عند الإرجاع، تحقق إيرادات مرتفعة.  هل هناك فرص لتوسيع هذه الإستراتيجيات أو فهم سلوك العملاء؟\"\n    },\n    {\n      \"recommendation\": \"تطوير برامج ولاء العملاء\",\n      \"action\": \"لتقليل الإلغاءات والإرجاعات، يمكن التفكير في برامج ولاء العملاء، وخدمة عملاء استباقية، وسياسات إرجاع واضحة ومُحسّنة.\"\n    }\n  ]\n}\n```"
        }
      }
    ]
  },
  "connections": {
    "Summarize1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent5": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent6": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent6",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Send Instant Smart Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook(Slow Track)": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Summarize1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent5",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent6",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send Instant Smart Report1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Send Instant Smart Report2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Send Instant Smart Report3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "11a7c869-8c7b-4ab7-8b7b-bcd6f13b1212",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d24290936cec55ea2c6832a7a807a4f14cff997486995bdc7024b19c8694c9e7"
  },
  "id": "wbUdsxm3HkFfHWb1",
  "tags": []
}