n8n-Workflows/Intelligent_Data_Analysis_Automation_System(Fast_Track).json
{
  "name": "Smart Business Intelligence Reporting System(Fast Track)",
  "nodes": [
    {
      "parameters": {
        "content": "# Intelligent Data Analysis Automation System \n## Graduation Project | MCI Academy 2026",
        "height": 176,
        "width": 896,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        896,
        256
      ],
      "id": "aa169bab-4bbb-408f-b9e5-91550e6e999c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Start Fast Track",
        "height": 96,
        "width": 294,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        512,
        352
      ],
      "id": "40518c56-39bc-42fa-b05b-2ffd8be29be3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "31fc8a26-7929-40cf-9b35-9a537e2c6f19",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "binaryPropertyName": "file",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        512,
        496
      ],
      "id": "dd03ee1d-cc78-46e8-a251-4c8925fe3e95",
      "name": "Receive Sales File",
      "webhookId": "31fc8a26-7929-40cf-9b35-9a537e2c6f19"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "={{ Object.keys($binary)[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        720,
        496
      ],
      "id": "57719f2c-5e52-4575-844b-f4e9fba22083",
      "name": "Parse Excel Data"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet totalRevenue = 0;\nlet productCounts = {};\nlet hourlySales = {};\nlet dailySales = {}; \nlet totalQty = 0;\n\nitems.forEach(item => {\n    const data = item.json;\n    const price = data.Standard_Price || 0;\n    const qty = data.Standard_Qty || 0;\n    const productName = data.Standard_Product || \"غير معروف\";\n    const orderDate = data.Std_Date;\n    const orderHour = data.Std_Hour; // القيمة اللي جاية من عمود الوقت المنفصل\n\n    totalRevenue += price;\n    totalQty += qty;\n    productCounts[productName] = (productCounts[productName] || 0) + qty;\n\n    if (orderDate) {\n        const dateObj = isNaN(orderDate) ? new Date(orderDate) : new Date((orderDate - 25569) * 86400 * 1000);\n        if (!isNaN(dateObj.getTime())) {\n            let hour = dateObj.getHours();\n\n            // لو المستخدم مدخل ساعة في عمود منفصل، نستخدمها هي\n            if (orderHour && orderHour.toString().trim() !== \"\") {\n                const extractHour = parseInt(orderHour.toString().match(/\\d+/));\n                if (!isNaN(extractHour)) hour = extractHour;\n            }\n\n            hourlySales[hour] = (hourlySales[hour] || 0) + 1;\n\n            const dayStr = dateObj.toISOString().split('T')[0];\n            dailySales[dayStr] = (dailySales[dayStr] || 0) + price;\n        }\n    }\n});\n\nconst peakHourEntries = Object.entries(hourlySales).sort((a, b) => b[1] - a[1]);\nconst bestDayEntries = Object.entries(dailySales).sort((a, b) => b[1] - a[1]);\n\nlet peakResult = \"غير محدد\";\n\nif (peakHourEntries.length > 0) {\n    const topHour = peakHourEntries[0][0];\n    // لو مفيش غير الساعة 0 (يعني الملف تاريخ بس ومفيهوش عمود وقت)\n    if (topHour === \"0\" && peakHourEntries.length === 1) {\n        if (bestDayEntries.length > 0) {\n            peakResult = \"يوم: \" + bestDayEntries[0][0];\n        }\n    } else {\n        peakResult = `${topHour}:00`;\n    }\n}\n\nconst sortedProducts = Object.entries(productCounts).sort((a, b) => b[1] - a[1]);\nconst top5List = sortedProducts.slice(0, 5).map(([name, qty]) => `• ${name}: <b>${qty}</b> قطعة`).join('<br>');\n\nreturn {\n    totalSales: totalRevenue.toLocaleString('en-US', { style: 'currency', currency: 'USD' }),\n    ordersCount: items.length,\n    topProduct: sortedProducts.length > 0 ? sortedProducts[0][0] : \"N/A\",\n    top5Products: top5List,\n    peakHour: peakResult,\n    insight: totalQty > 100 ? \"طلب مرتفع جداً، تأكد من المخزون.\" : \"أداؤك مستقر اليوم.\",\n    userEmail: $node[\"Receive Sales File\"].json.body.email \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        480
      ],
      "id": "f4182307-cdd3-4e09-b237-64d08cbabf56",
      "name": "Calculate Quick Metrics"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1552,
        480
      ],
      "id": "a056051d-0d41-44f7-b35a-985f3dd7e2b1",
      "name": "UI Instant Response"
    },
    {
      "parameters": {
        "fromEmail": "abdelwahabshandy@gmail.com",
        "toEmail": "={{ $('Calculate Quick Metrics').item.json.userEmail }}",
        "subject": "📑 التقرير السريع لمبيعاتك | Intelligent Data Analysis Automation System",
        "html": "=<div dir=\"rtl\" style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f8fafc; padding: 20px;\">\n    <div style=\"max-width: 600px; margin: 0 auto; background-color: #0f172a; padding: 30px; border-radius: 15px 15px 0 0; text-align: center;\">\n        <h1 style=\"color: #ffffff; margin: 0; font-size: 28px; letter-spacing: 1px;\">Intelligent Data Analysis Automation <span style=\"color: #3b82f6;\">System</span></h1>\n        <p style=\"color: #94a3b8; margin-top: 10px; font-size: 14px;\">قطاع تحليلات المبيعات اللحظية - MCI Academy</p>\n    </div>\n\n    <div style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px; border-bottom: 1px solid #e2e8f0;\">\n        <div style=\"background-color: #fff7ed; border-right: 5px solid #f59e0b; padding: 15px; border-radius: 8px;\">\n            <h3 style=\"color: #9a3412; margin: 0 0 5px 0; font-size: 16px;\">💡 تحليل المحرك الذكي:</h3>\n            <p style=\"color: #475569; font-size: 15px; margin: 0; line-height: 1.6;\">{{ $json.insight }}</p>\n        </div>\n    </div>\n\n    <div style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px;\">\n        <table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\">\n            <tr>\n                <td width=\"48%\" style=\"background-color: #eff6ff; padding: 20px; border-radius: 12px; text-align: center; border: 1px solid #dbeafe;\">\n                    <p style=\"color: #1e40af; margin: 0; font-size: 13px; font-weight: bold;\">إجمالي الإيرادات</p>\n                    <h2 style=\"color: #2563eb; margin: 10px 0 0 0; font-size: 22px;\">{{ $json.totalSales }}</h2>\n                </td>\n                <td width=\"4%\"></td>\n                <td width=\"48%\" style=\"background-color: #f0fdf4; padding: 20px; border-radius: 12px; text-align: center; border: 1px solid #dcfce7;\">\n                    <p style=\"color: #166534; margin: 0; font-size: 13px; font-weight: bold;\">عدد العمليات</p>\n                    <h2 style=\"color: #16a34a; margin: 10px 0 0 0; font-size: 22px;\">{{ $json.ordersCount }}</h2>\n                </td>\n            </tr>\n        </table>\n    </div>\n\n    <div style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 0 20px 20px 20px; border-radius: 0 0 15px 15px;\">\n        <table width=\"100%\" style=\"border-collapse: collapse; background-color: #fcfcfc; border-radius: 10px; border: 1px solid #f1f5f9;\">\n            <tr>\n                <td style=\"padding: 15px; color: #64748b; border-bottom: 1px solid #f1f5f9; vertical-align: top;\">🥇 المنتج الأكثر طلباً</td>\n                <td style=\"padding: 15px; color: #0f172a; font-weight: bold; text-align: left; border-bottom: 1px solid #f1f5f9;\">{{ $json.topProduct }}</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 15px; color: #64748b; border-bottom: 1px solid #f1f5f9; vertical-align: top;\">📊 قائمة الـ 5 الأوائل</td>\n                <td style=\"padding: 15px; color: #3b82f6; font-size: 14px; text-align: left; border-bottom: 1px solid #f1f5f9; line-height: 1.8;\">\n                    {{ $json.top5Products }}\n                </td>\n            </tr>\n            <tr>\n                <td style=\"padding: 15px; color: #64748b; vertical-align: top;\">⏰ وقت الذروة</td>\n                <td style=\"padding: 15px; color: #f59e0b; font-weight: bold; text-align: left;\">{{ $json.peakHour }}</td>\n            </tr>\n        </table>\n\n        <div style=\"text-align: center; margin-top: 30px; padding-top: 20px; border-top: 1px solid #f1f5f9;\">\n            <p style=\"color: #94a3b8; font-size: 12px; margin: 0;\">هذا التقرير تم توليده تلقائياً كجزء من مشروع التخرج</p>\n            <p style=\"color: #475569; font-size: 13px; font-weight: bold; margin: 5px 0;\"> Intelligent Data Analysis Automation System Team | MCI Academy 2026</p>\n        </div>\n    </div>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1744,
        480
      ],
      "id": "07ee2024-2eba-4312-a0ba-fded039fe149",
      "name": "Send Instant Smart Report",
      "webhookId": "916bfca0-3560-40fa-8976-9e3857dcc303",
      "credentials": {
        "smtp": {
          "id": "cqYTdVe0cgd5qwlG",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "content": "# The end of Fast Track",
        "height": 80,
        "width": 390,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1888,
        336
      ],
      "id": "9fac8c8b-3aa7-4b0d-a980-f897fe1c16b9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "53b6660d-90ba-4ee9-8d8a-3941240debed",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        912,
        496
      ],
      "id": "484bbf53-7647-4928-a1cd-0f4cd535243a",
      "name": "Data Validation & Security Gate"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"الملف المرفوع فارغ، يرجى التأكد من البيانات\"}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1344,
        672
      ],
      "id": "0a5507e8-d8eb-4b1a-84ea-bba99659ddb3",
      "name": "API Response Handler"
    },
    {
      "parameters": {
        "content": "## Receive Sales File (Webhook) \n**تعتبر هذه النود \"بوابة استقبال البيانات\". وظيفتها استلام ملف المبيعات (Excel/CSV) والبريد الإلكتروني من واجهة المستخدم عبر بروتوكول HTTP POST، وهي نقطة انطلاق سير العمل بالكامل.**",
        "height": 208,
        "width": 256,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        1696
      ],
      "typeVersion": 1,
      "id": "6e6e839e-b7ad-4b67-ad12-cb8f1c5f1fea",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Extract from File\n## Parse Excel Data\n**تعمل كمحرك \"استخراج البيانات\". تقوم بتحويل الملف الثنائي (Binary) المرفوع إلى تنسيق JSON يمكن للنظام قراءته ومعالجته برمجياً. في تجربتك، نجحت هذه النود في استخراج العناصر من ملف البيانات.**",
        "height": 240,
        "width": 224,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        688,
        1696
      ],
      "typeVersion": 1,
      "id": "4a80f678-26e8-4988-a35c-8af1bc539958",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## (If Node)\n**هي \"صمام الأمان\" للنظام. تقوم بالتحقق من شرطين أساسيين عبر بوابة منطقية (AND):\nالتأكد من أن الملف يحتوي على بيانات (أكبر من 0).**",
        "height": 176,
        "width": 208,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        1696
      ],
      "typeVersion": 1,
      "id": "6fd29754-06d6-4fd0-bf1f-7be2d63b9c77",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## (Respond to Webhook) \n**وظيفتها \"تحديث واجهة المستخدم\". تقوم بإرسال نتائج التحليل النهائية فورياً لتعرض على الداشبورد في شكل أرقام ورسوم بيانية قبل إتمام العمليات الخلفية الأخرى.**",
        "height": 144,
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        2432
      ],
      "typeVersion": 1,
      "id": "f2735b02-542f-476e-97b6-0ffd4eb1ecfa",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## (Code Node)\n**تمثل \"محرك التحليل اللحظي\". تستخدم لغة JavaScript لحساب المؤشرات الرئيسية (KPIs) مثل إجمالي المبيعات، المنتج الأكثر طلباً، وتوليد \"الرؤية الذكية\" (Insight) بناءً على الأرقام المستخرجة.**",
        "height": 192,
        "width": 224,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1632,
        2048
      ],
      "typeVersion": 1,
      "id": "0350a1a6-408d-4976-abbf-240174b2846e",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Respond to Webhook\n**وظيفتها \"تحديث واجهة المستخدم\". تقوم بإرسال نتائج التحليل النهائية فورياً لتعرض على الداشبورد في شكل أرقام ورسوم بيانية قبل إتمام العمليات الخلفية الأخرى.**",
        "height": 208,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1936,
        2048
      ],
      "typeVersion": 1,
      "id": "6dffb9c1-fd48-48a8-96ab-77c3cf1ba493",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Email \n**هي \"خدمة التقارير المؤتمتة\". تقوم بصياغة إيميل احترافي يحتوي على ملخص التحليل وإرساله تلقائياً إلى بريد المستخدم المسجل، مما يضمن وصول المعلومات لصاحب القرار فوراً.**",
        "height": 208,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2240,
        2080
      ],
      "typeVersion": 1,
      "id": "ec1e9f3c-ef70-4a66-bef7-5ba38599f697",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Append or update row in sheet\n**تعتبر هذه النود هي قاعدة بيانات النظام (System Database)، وهي المسؤولة عن تحويل مخرجات المعالجة اللحظية إلى سجلات دائمة.**",
        "height": 224,
        "width": 224,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2544,
        2080
      ],
      "typeVersion": 1,
      "id": "1d445a1d-0caa-4943-b3ef-c190f0a4f3fb",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1wR_ixU9DzHgVYDvlnwsYFMA-oJ2qvJ5kqaxiT0VrL7U",
          "mode": "list",
          "cachedResultName": "n8n-Graduation-Project-DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wR_ixU9DzHgVYDvlnwsYFMA-oJ2qvJ5kqaxiT0VrL7U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wR_ixU9DzHgVYDvlnwsYFMA-oJ2qvJ5kqaxiT0VrL7U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userEmail": "={{ $('Calculate Quick Metrics').item.json.userEmail }}",
            "totalSales": "={{ $('Calculate Quick Metrics').item.json.totalSales }}",
            "ordersCount": "={{ $('Calculate Quick Metrics').item.json.ordersCount }}",
            "topProduct": "={{ $('Calculate Quick Metrics').item.json.topProduct }}",
            "insight": "={{ $('Calculate Quick Metrics').item.json.insight }}",
            "top5Product": "={{ $('Calculate Quick Metrics').item.json.top5Products }}"
          },
          "matchingColumns": [
            "userEmail"
          ],
          "schema": [
            {
              "id": "userEmail",
              "displayName": "userEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "totalSales",
              "displayName": "totalSales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ordersCount",
              "displayName": "ordersCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "topProduct",
              "displayName": "topProduct",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "insight",
              "displayName": "insight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "top5Product",
              "displayName": "top5Product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1952,
        480
      ],
      "id": "637e264a-c051-4c24-985d-2ff16440ea1c",
      "name": "Sync Customer Activity to DB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h4qvnodMjaICiImD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Edit Fields\n**تنظيف البيانات: تقوم النود بتحويل أسماء الأعمدة في ملف الإكسيل من أسماء عشوائية إلى أسماء برمجية موحدة (مثل تحويل \"إيميل العميل\" إلى userEmail).\n\nتجهيز التحليل: تختار فقط المعلومات المهمة للبيزنس (مثل السعر والمنتج) وتستبعد أي بيانات زائدة ليس لها داعٍ.**",
        "height": 288,
        "width": 208,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1008,
        1696
      ],
      "typeVersion": 1,
      "id": "f9766a01-cc0c-490d-838c-34e2972d6d4f",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79afd86a-7103-4dff-b1b6-89f18292a7f7",
              "name": "Standard_Product",
              "value": "={{ $json[\"Product\"] || $json[\"Item\"] || $json[\"المنتج\"] || $json[\"الصنف\"] }}",
              "type": "string"
            },
            {
              "id": "268d5c81-575b-454a-b57b-c46b9474163c",
              "name": "Standard_Price",
              "value": "={{ parseFloat($json[\"TotalPrice\"] || $json[\"Total\"] || $json[\"الإجمالي\"] || 0) }}",
              "type": "number"
            },
            {
              "id": "2a1ea48d-1e3e-4f1b-b814-a91c81cee9f8",
              "name": "Standard_Qty",
              "value": "={{ parseInt($json[\"Quantity\"] || $json[\"Qty\"] || $json[\"الكمية\"] || 0) }}",
              "type": "number"
            },
            {
              "id": "2d4c66a2-f195-481d-90e1-7821631b95c9",
              "name": "Std_Date",
              "value": "={{ $json[\"Date\"] || $json[\"OrderDate\"] || $json[\"التاريخ\"] }}",
              "type": "number"
            },
            {
              "id": "a97a36cc-a376-46da-a96b-0829a4d29311",
              "name": "Std_Hour",
              "value": "={{ $json[\"Time\"] || $json[\"Hour\"] || $json[\"الوقت\"] || $json[\"الساعة\"] || \"\" }}",
              "type": "string"
            },
            {
              "id": "90386b34-21b9-4c21-82c7-5bf158b8f1f0",
              "name": "Std_Location",
              "value": "={{ $json[\"Location\"] || $json[\"City\"] || $json[\"Address\"] || $json[\"المنطقة\"] }}",
              "type": "string"
            },
            {
              "id": "70dccb2e-bea0-49f4-97a7-d16737fc4780",
              "name": "Std_CustomerID",
              "value": "={{ $json[\"CustomerID\"] || $json[\"CustID\"] || $json[\"رقم_العميل\"] }}",
              "type": "string"
            },
            {
              "id": "d38192b4-0c6c-4f1a-90ad-02566373d7bf",
              "name": "Std_PaymentMethod",
              "value": "={{ $json[\"PaymentMethod\"] || $json[\"PaymentType\"] || $json[\"طريقة_الدفع\"] }}",
              "type": "string"
            },
            {
              "id": "3a98f9fc-8ef6-4b61-9cae-dc430f941849",
              "name": "Std_UnitPrice",
              "value": "={{ parseFloat($json[\"UnitPrice\"] || $json[\"Price\"] || $json[\"سعر_الوحدة\"] || 0) }}",
              "type": "string"
            },
            {
              "id": "d5f3dcf1-8705-4c4a-b659-419969d15db0",
              "name": "Std_Status",
              "value": "={{ $json[\"OrderStatus\"] || $json[\"Status\"] || $json[\"حالة_الطلب\"] }}",
              "type": "string"
            },
            {
              "id": "1909b51a-0d03-4f2d-88c0-2bf74e764453",
              "name": "Std_Category",
              "value": "={{ $json[\"Category\"] || $json[\"ProductCategory\"] || $json[\"الفئة\"] || $json[\"القسم\"] }}",
              "type": "string"
            },
            {
              "id": "1b36c840-a3ef-48e9-8788-7addaee3d899",
              "name": "Std_Cost",
              "value": "={{ parseFloat($json[\"Cost\"] || $json[\"UnitCost\"] || $json[\"التكلفة\"] || 0) }}",
              "type": "number"
            },
            {
              "id": "bf3e8977-c53d-4456-85ca-7760e7cea849",
              "name": "Std_Discount",
              "value": "={{ parseFloat($json[\"Discount\"] || $json[\"CouponAmount\"] || $json[\"الخصم\"] || 0) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        480
      ],
      "id": "1c69e17b-2935-49b4-8ea3-875a94a0b8c8",
      "name": "Data Formatter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook-test/9d8c36fe-01ec-4dc9-b9eb-4731be25c0d8",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('Receive Sales File').first().json.body.email }}"
            },
            {
              "name": "data",
              "value": "={{ $('Parse Excel Data').all().map(item => item.json) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2160,
        480
      ],
      "id": "5c957719-021c-49d1-9d8d-8c155defbf01",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "content": "## HTTP Request\nتصدير البيانات النهائية (Email & Excel Data) إلى الـ Webhook (Slow Track)",
        "height": 128,
        "width": 208,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2816,
        2080
      ],
      "typeVersion": 1,
      "id": "68ddf120-20bf-4c7e-ab10-db5573d6498f",
      "name": "Sticky Note12"
    }
  ],
  "pinData": {},
  "connections": {
    "Receive Sales File": {
      "main": [
        [
          {
            "node": "Parse Excel Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Excel Data": {
      "main": [
        [
          {
            "node": "Data Validation & Security Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Quick Metrics": {
      "main": [
        [
          {
            "node": "UI Instant Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UI Instant Response": {
      "main": [
        [
          {
            "node": "Send Instant Smart Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Validation & Security Gate": {
      "main": [
        [
          {
            "node": "Data Formatter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API Response Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Formatter": {
      "main": [
        [
          {
            "node": "Calculate Quick Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Customer Activity to DB": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Instant Smart Report": {
      "main": [
        [
          {
            "node": "Sync Customer Activity to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true
  },
  "versionId": "23d77375-b2f4-49c9-8a30-a08d29ec88fe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d24290936cec55ea2c6832a7a807a4f14cff997486995bdc7024b19c8694c9e7"
  },
  "id": "k5iEChMlPAXk2JzQ",
  "tags": []
}